<%= form_for @service do |s| %>
    <%#= s.collection_select(:category_ids, Category.all, :id, :name) %>
    <%= s.collection_select(:category_ids, Category.all, :id, :name) %>
    <%= s.label :title %>
    <%= s.text_field :title %>
    <br>
    <%= s.label :description %>
    <%= s.text_field :description %>
    <br>
    <%= s.label :time_frame %>
    <%= s.text_field :time_frame %>
    <br>
    <%= s.label :price %>
    <%= s.number_field :price, step: :any %>
    <br>

    <div>
    <%= l.label :packages, "Packages: " %>
    <%= l.check_box :packages %>
    </div>

    <h4><%= User.find(session[:user_id]).username %></h4>
    <%#= s.collection_select(:seller_id, User.all, :id, :name) %>
    <%= s.submit %>
<% end %>
<h3><%= link_to "Homepage", homepage_path %></h3>

