<h1>List of Services</h1>

<%= form_tag(services_path, method: :get) do %>
    <%= text_field_tag :category, params[:category]%>
    <%= submit_tag "Search Category", name: nil %>
<% end %>

<ul>
    <% @services.each do |s| %>
        <li>
            <%= link_to s.title, service_path(s) %>
        </li>
    <% end %>
</ul>

<div>
    <%= link_to "Offer a service", new_service_path %>
</div>

<div>
    <%= link_to "Go to users", users_path %>
</div>

<h3><%= link_to "Homepage", homepage_path %></h3>