
<h1 class="service">Service Info</h1>
<div class="service"> 
    <div class="grid-container">
      <div class="grid-item">
        <% @service.categories.each do |c| %>
          <h2><%= link_to c.name, category_path(c) %></h2>
        <% end %>

        <p>Title: <%= @service.title %></p>

        <p>Description: <%= @service.description %></p>

        <p>Time Frame: <%= @service.time_frame %></p>

        <p>Price: <%= @service.price %></p>


<% if session[:user_id] != @service.seller_id %>
  <% if session[:user_id] == nil %>
    <%= link_to '<button type="button">Purchase Service</button>'.html_safe, login_path %>
    <br>
  <% else %>
    <%= link_to '<button type="button">Purchase Service</button>'.html_safe, new_cart_path %>
  <% end %>
<% end %>
<% if session[:user_id] == @service.seller_id %>
  <%= link_to '<button type="button">Edit your service</button>'.html_safe, edit_service_path %>
<% end %>
<%= link_to '<button type="button">List of services</button>'.html_safe, services_path %>
<%= link_to '<button type="button">Create a new review</button>'.html_safe, new_review_path%>
</div>
</div>
</div>
