<h1> Detail page </h1>

<% @service.categories.each do |c| %>
  <%= link_to c.name, category_path(c) %>
  <br>
<% end %>

<h3>Title: <%= @service.title %></h3>

<h3>Description: <%= @service.description %></h3>

<h3>Time Frame: <%= @service.time_frame %></h3>

<h3>Price: <%= @service.price %></h3>




<%= link_to '<button type="button">Edit your service</button>'.html_safe, edit_service_path %>
<%= link_to '<button type="button">List of services</button>'.html_safe, services_path %>
<%= link_to '<button type="button">Create a new review</button>'.html_safe, new_review_path%>

<h3><%= link_to "Homepage", homepage_path %></h3>

<%# ****create he search function and finish the services categogt, username issue with listing create and service category %>