<%#= link_to "Home", homepage_path %>
<h1>Login</h1>

<%= flash.notice %>

<%= form_tag login_path do %>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <%= submit_tag "Login" %>
<% end %>

<%= link_to '<button type="button">Create account</button>'.html_safe,new_user_path %>