<h1>Information about Listing </h1>

<% @listing.categories.each do |l| %>
    <%= link_to l.name, category_path(l) %>
    <br>
  <% end %>

<h3>Title: <%= @listing.title %></h3>
<h3>Description: <%= @listing.description %></h3>
<h3>Time Frame: <%= @listing.time_frame %></h3>
<h3>Price: <%= @listing.price %></h3>

<%= link_to '<button type="button">Edit Listing</button>'.html_safe, edit_listing_path(@listing) %>

<%= link_to '<button type="button">Return to Listings</button>'.html_safe, listings_path %>


<%= form_tag(listing_path(@listing), method: :delete) do %>
    <%= submit_tag "Delete Me" %>
<% end %>



<%# @listing.reviews.each do  |r| %>
    <%#= r.description %>
<%# end %>
<h3><%= link_to "Homepage", homepage_path %></h3>
