<h1>Information about Listing </h1>



<h3>Title: <%= @listing.title %></h3>
<h3>Description: <%= @listing.description %></h3>
<h3>Time Frame: <%= @listing.time_frame %></h3>
<h3>Price: <%= @listing.price %></h3>

<% if session[:user_id] == @listing.user_id %>
  <%= link_to '<button type="button">Edit Listing</button>'.html_safe, edit_listing_path(@listing) %>
<% else %>
  <% if session[:user_id] == nil %>
    <%= link_to '<button type="button">Purchase Listing</button>'.html_safe, login_path %>
  <% else %>
    <%= link_to '<button type="button">Purchase Listing</button>'.html_safe, homepage_path %>
  <% end %>
<% end %>

<%= link_to '<button type="button">Return to Listings</button>'.html_safe, listings_path %>



<%# @listing.reviews.each do  |r| %>
    <%#= r.description %>
<%# end %>
<h3><%= link_to "Homepage", homepage_path %></h3>
