<div class="home">
    <% if @user %>
        <%= link_to "#{@user.username}'s Profile", profile_path(@user) %>
    <% end %>

    <h1>This is the Homepage</h1>

    <h2><%= link_to "View All Categories", categories_path %> </h2>

    <%= form_tag(services_path, method: :get) do %>
        <%= text_field_tag :category, params[:category]%>
        <%= submit_tag "Search Category", name: nil %>
    <% end %>

    <h2>Here are the listings: </h2>
    <%# @listings.each do |l| %>
        <%#= link_to l.title, listing_path(l) %>
    <%# end %><br><br>
    <div>
        <%= link_to "View all Listings", listings_path %>
    </div>

    <h2>Here are the Services: </h2>
    <%# @services.each do |s| %>
        <%#= link_to s.title, service_path(s) %>
    <%# end %><br><br>
    <div>
        <%= link_to "View all Services", services_path %>
    </div>
</div>
<%#create the ability to buy a service and to message a seller with the message model, fix the search bar to work, create the css, %>