<h1>Information about Me</h1>

<h3>Name: <%= @user.name %></h3>
<h3>Username: <%= @user.username %></h3>
<h3>Profession: <%= @user.profession %></h3>
<h3>E-mail: <%= @user.email %></h3>

<%= link_to "Hompage", users_path %>
<%= link_to "Edit User", edit_user_path(@user) %>

<%= form_tag(user_path(@user), method: :delete) do %>
    <%= submit_tag "Delete Me" %>
<% end %>
