<h1>Complete Purchase</h1>
<%= form_for @cart do |c| %>
    <%= c.label :user_id %>
    <h3>Username: <%= User.find(session[:user_id]).username %></h3>
    <%= c.label :service_id %>
    <%= c.collection_check_boxes :service_id, Service.all, :id, :title %>
    <h3>Service: <%#= Service.find(Service.find(@cart.service_id)).title %></h3>
    <%= c.submit "Complete Purchase" %>
<% end %>
