<h1>Info About <%= @category.name %></h1>

<h3>Name: <%= @category.name %></h3>
<h3>List of listings: </h3>
<% @listings.each do |l| %>
    <%# if l.categories[0].id == params[:id].to_i %>
        <%= link_to l.title, listing_path(l) %>
    <%# end %>
<% end %>

<h3>List of services: </h3>
<% @services.each do |s| %>
    <%# if s.categories[0].id == params[:id].to_i %>
        <%= link_to s.title, service_path(s) %>
    <%# end %>
<% end %>

<h3><%= link_to "Homepage", homepage_path %></h3>