<%# if session[:user_id] == %>




<h1 class="review">Create a Review</h1>
<div class="review"> 
    <div class="grid-container">
<%= form_for @review do |r|%>
    <%= r.label :description %>
    <%= r.text_field :description %>
    <br>
    <%= r.label :rating %>
    <%= r.number_field :rating, step: :any %>
    <br>
    <p>
    <p>
    <%= r.collection_select(:service, Service.selectAll(session[:user_id]), :id, :title) %>
    <br>
    <p>
    <p>
    <%#= r.collection_select(:service, Service.all, :id, :title) %>
    <%= r.submit %>
<% end %>
</div>
    
</div>
</div>
