<%= link_to "Home", homepage_path %>

<h1>Profile <%= @user.username %></h1>
<%= link_to '<button type="button">Edit Account</button>'.html_safe, edit_user_path(@user) %>


<h3> My Listings</h3>
<% @listings.each do |l| %>
    <% if l.user_id == session[:user_id] %>
        <%= link_to l.title, listing_path(l) %>
    <% end %>
<% end %>

<h3> My Services</h3>
<% @services.each do |s| %>
    <% if s.seller_id == session[:user_id] %>
        <%= link_to s.title, service_path(s) %>
    <% end %>
<% end %>

<h3>My Purchases</h3>
<ul>
    <% @carts.each do |s| %>
        <% if s.user_id == session[:user_id] %>
            <li>
                <%= Service.find(s.service_id).title %>
                <%= Service.find(s.service_id).description %>
                <%= Service.find(s.service_id).price %>
                <%= Service.find(s.service_id).time_frame %>
                <% if Review.hasUser(s.service_id, session[:user_id]) %>
                    <%= Review.getReview(s.service_id, session[:user_id]).description %>
                    <%= Review.getReview(s.service_id, session[:user_id]).rating %>
                <% else %>
                    <%= link_to '<button type="button">Write Review</button>'.html_safe, new_review_path %>
                <% end %>
            </li>
        <% end %>
    <% end %>
</ul>
